form div {
  display: flex;
  flex-direction: row;
  margin-top: 5rem;
}

#button-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 2.5rem;
  border-radius: 0.5rem;
  border-style: none;
}

#button-container button {
  width: 30%;
  height: 100%;
  border-radius: 0.5rem;
  border-style: none;
  color: black;
}

#button-container button:hover {
  background-color: var(--active);
  transition: background-color 0.5s;
}

#button-container a {
  color: black;
}
